@charset "utf-8";

section{
    height: 97vh;
}

.elements{
    width: 40%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "element1 element2 element3"
    "element1 element4 element4"
    "element5 element5 element6"
    "element7 element8 element9";
    grid-gap: 20px;    
}

.element{
    background-color:#ff4d4d;
}
.element1{
    grid-area: element1;
}
.element2{
    grid-area: element2;
}
.element3{
    grid-area: element3;
}
.element4{
    grid-area: element4;
}
.element5{
    grid-area: element5;
}
.element6{
    grid-area: element6;
}
.element7{
    grid-area: element7;
}
.element8{
    grid-area: element8;
}
.element9{
    grid-area: element9;
}
